

// 余白
$padding-pc: 24px;
$padding-tab: 24px;
$padding-sp: 16px;

// レイアウト幅
$layout-width-inner: 1200px;

// ブレークポイント
$breakpoints: (
	"sp": "(max-width: 767px)",
	"tab": "(max-width: #{$layout-width-inner + $padding-tab * 2 - 1px})",
	"pc": "(min-width: #{$layout-width-inner})",
);

// メディアクエリー
@mixin mq($breakpoint: sp) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}


