@import '../../../src/Setting';

//
//react-css
//
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  border: 0;
}

header,
footer,
nav,
section,
article,
aside,
figure,
figcaption {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  list-style-type: none;
}

.display-none {
  display: none;
}

* {
  font-size: 18px;
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
}
// .hidden-pc {
// 	@include mq('pc') {
// 		display: none;
// 	}
// }

.formDescription {
  display: block;
  max-width: 100%;
  padding: 32px 48px;
  font-size: 24px;
  font-weight: 700;
  background: #fafafa;
  font-weight: 700;
  // width: 1200px;
  // margin : 0 auto;
  margin-bottom: 64px;

  @include mq('tab') {
    width: auto;
      }

      @include mq('sp') {
        width: 100%;
        font-size: 14px;
          }   
  }


  .form-title {
      width: auto;
  margin : 0 auto;
  font-weight: 700;
}

.card {
  width: 1200px;
  max-width: 100%;
  height: inherit;
  margin: 24px;
  margin: 0 auto;
  margin-bottom: 48px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);

  @include mq('tab') {
    width: 700px;
      }

      @include mq('sp') {
        width: 360px;
        font-size: 14px;
          }   

  .form-title {
    display: block;
    max-width: 100%;
    padding: 32px 48px;
    font-size: 24px;
    font-weight: 700;
    background: #fafafa;
  }

  .input-form-items {
    // padding: 32px 48px 0;

    .control-label {
      display: inline-block;
      margin-bottom: 6px;
      font-size: 24px;
      color: #16191f;
    }

    .control-description {
      margin-bottom: 6px;
      font-size: 18px;
      color: #687078;
    }

    // &:last-child {
    //   padding-bottom: 32px;
    // }
  }
}

.sdmd-items {
  padding-bottom: 24px;
}

.sdmd-form-item {
  padding: 24px;
}

.sdmd-katexs-items {
  // width: 800px;
  margin-left: 32px;

  @include mq('sp') {
    font-size: 12px;
    width: auto;
    margin-left: 12px;
  }
  .sdmd-katex-formula {
    margin:  0 auto 24px;
    // margin-bottom: 24px;
  }

  .sdmd-katex-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // max-width: 900px;

    .explanation-item {
      margin-right: 24px;
      margin-bottom: 6px;
    }
  }
}

.field-description {
  margin-bottom: 6px;
  font-size: 18px;
  color: #687078;
}

.management-items {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 24px 0;

  .input-form-items {
    margin-right: 0;
    margin-bottom: 24px;

    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(6),
    &:nth-child(9),
    &:nth-child(11) {
      margin-right: 24px;

      @include mq ('sp') {
        margin-right: 0px;
      }
    }
  }

  .input-plants,
  .regenerationCost-inputs,
  .thinningPercent-inputs,
  .harvesting-ages-input,
  .max-num-of-harvest-item {
    width: calc(50% - 24px * 1 / 2);

    @include mq ('sp') {
      width: 100%;
    }
  }

  .minimum-input,
  .annualInterestPercent-item {
    width: 100%;
  }
}

.thinning-form-items {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 24px 0;

  .input-form-items {
    margin-right: 0;
    margin-bottom: 24px;

    &:nth-child(2),
    &:nth-child(4) {
      margin-right: 24px;

      @include mq ('sp') {
        margin-right: 0;
      }
    }

    .table-errors {
      margin-bottom: 12px;
      margin-left: 12px;
      text-decoration: initial;
      color: #43acff;
      list-style-type: disc;
  
      li {
        color: #d32f2f;
        font-weight: 700;
      }
    }

    &:last-child {
      flex-grow: 2;
      .table {
        display: flex;
        flex-wrap: wrap;
        border-radius: 0;
  

        @include mq ('tab') {
          flex-direction: column;
          height: 673px;
        }

        li {
          width: calc((100% - 130px) / 11);
          border-radius: 0;

          @include mq ('tab') {
            width: calc(100% / 2 );
          //  width: 260px;
           height: 56px;
          }

          &:nth-child(1),
          &:nth-child(13) {
            width: 130px;
            font-weight: 700;

            @include mq ('tab') {
              width: calc(100% / 2 );
              height: 56px;
             }
          }

          .fieldset {
            border-radius: 0;
          }

          .MuiInputAdornment-root {
            display: none;

            @include mq ('tab') {
              display: flex;
            }
          }
        }

        .TextField-without-border-radius fieldset {
          border-radius: 0;
        }



        .thinning-diameter-input {
          position: relative;
        }

        .diamter-error-message {
          position: absolute;
          font-size: 12px;
          padding: 2px;
          bottom: 56px;
        }
      }
    }
  }

  .yield-rate-item {
    width: 100%;
  }

  .cost-item,
  .stump-height-item,
  .log-length-input,
  .logging-pitch-input {
    width: calc(50% - 24px * 1 / 2);

    @include mq ('sp') {
      width: 100%;
    }
  }
}

.MuiOutlinedInput-notchedOutline {
  border-radius: 0;
}

.Mui-disabled {
  color :red;
}

.thinning-diameter-input {
  position: relative;
}

.isCalculation {
  position: fixed;
  // visibility: hidden;
  opacity: 0.9;
  transform: translateX(0);
  top: 0;
  bottom: auto;
  width: 100%;
  height: 100%;
  max-width: 100%;
  transition: all 0.3s linear 0s;
  background: #fff;
  z-index: 40;
  
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
  }
}

.submit-button {
  display: block;
  margin:0 auto;
  border: 2px solid steelblue;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  // box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  box-shadow: 0 3px 6px gray;
  cursor: pointer;
  transition: all 0.15s ease 0s;
  padding: 22px 24px;
  border-radius: 8px;
  font-size: 24px;
  width: 384px;
  max-width: 100%;
  background-color: steelblue;
  color:  #fff;
  margin-bottom: 48px;
}

.css-1wc848c-MuiFormHelperText-root.Mui-error {
  font-weight: 700;
}