@import '../../../src/Setting';

body {
    font: 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: steelblue;
}

.focus text {
    font-size: 14px;
}

.result-tooltip-x, .result-tooltip-y {
    font-weight: bold;
}

.result-tooltip {
    fill: white;
    stroke: #000;
    //  moveLineChartでは横幅が動的に動かせる
    // width: auto;
    // height: auto;
}

.chart-items {
     .chart-item {

        &:first-child {
            // margin-top: 60px
            padding-top: 32px;
        }
         .chart-title {
             text-align: center;
             font-size: 24px;
             font-weight: 700;
         }
     }

     .result-chart {
         width: calc(100% - 20px);
         height: 75vh;

         @include mq ('tab') {
             height: 100vh;
         }
     }
}