body {
  font: 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: steelblue;
}

.focus text {
  font-size: 14px;
}

.result-tooltip-x, .result-tooltip-y {
  font-weight: bold;
}

.result-tooltip {
  fill: white;
  stroke: #000;
}

.chart-items .chart-item:first-child {
  padding-top: 32px;
}

.chart-items .chart-item .chart-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.chart-items .result-chart {
  width: calc(100% - 20px);
  height: 75vh;
}

@media (max-width: 1247px) {
  .chart-items .result-chart {
    height: 100vh;
  }
}
